div{
    height: 750px;
    margin-bottom: 50px;
    border-radius: 3%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);


}

.bg-1{
    width: 1000px;
    margin: auto;           
    background: 
    url('/img/Livermore_Centennial_Light_Bulb.jpg') top / 5% repeat-x,
    url('/img/76a84a138074ba2ebe25a316d1135d0b.jpg') bottom / 10% repeat-x,
    url('/img/main.animal.cats.jpg') left / 9% repeat-y, 
    url('/img/1626776172_24-funart-pro-p-dovolnaya-svinka-zhivotnie-krasivo-foto-28.jpg') right / 9% repeat-y,
    url('img/34d0c7f1a59065d6dc9a4e17b3a79462_w200.gif') center / 70% no-repeat ,
    url() green;
    
    ;
                
}

